<table class="section_header">
    <tr>
      <td>
        <h1>
          <%= taxon.name %>
        </h1>
      </td>
    </tr>
  </table>

<div class="taxon">
  <%= render :partial => "shared/products", :locals => {:products => taxon_preview(taxon, 6), :taxon => taxon} %>
</div>
