body.one-col .content {
  margin-left: auto;
  width: 1020px !important;
}

body.two-col .content {
  margin-left: 20px;
}

p img {
  margin-right: auto;
  vertical-align: middle;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: none;
  margin: 0;
}

body, td, form {
  font-family: Verdana, sans-serif;
  font-size: 9pt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, serif;
}

.fixed_width {
  width: 1058px;
}

.relative {
  position: relative;
}

.header_panel {
  background: url("../images/header_panel.png") no-repeat;
  width: 1058px;
  height: 102px;
  display: table;
  margin-top: 4px;
}

.header_panel #taxon {
  display: none;
}

.header_panel #keywords:focus {
  background: url("../images/search_textinput_active.png") no-repeat;
}

.header_panel #keywords {
  width: 250px;
  height: 22px;
  background: url("../images/search_textinput.png") no-repeat;
  border: none;
  vertical-align: bottom;
  padding-left: 10px;
}

.header_panel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table-row;
}

.header_panel > ul > li {
  height: 102px;
  vertical-align: middle;
  text-align: left;
  display: table-cell;
}

#comparable_products_wrapper h3 {
  font-size: 12pt;
  font-weight: bold;
}

#comparable_products_wrapper .no_products_message {
  margin-bottom: 1em;
}

#comparable_products {
  margin: 0 0 1.5em 0;
  list-style: none;
}

#comparable_products a {
  color: #369;
}

#comparable_products a:hover {
  text-decoration: underline;
  color: #48a;
}

#compare_products_link {
  text-align: center;
}

#compare_products_link a {
  text-transform: none;
}

#clear_comparable_products_link {
  display: none;
}

.remove-comparable-item {
  float: right;
  display: block;
  width: 13px;
  height: 13px;
  background: url("../images/remove_comparable.png") no-repeat;
  margin-top: 3px;
}

.header_panel #keywords_submit {
  width: 94px;
  height: 24px;
  background: url("../images/search_button.png") no-repeat;
  border: none;
  vertical-align: bottom;
  color: white;
  padding-bottom: 3px;
  cursor: pointer;
}

.header_panel a.empty, .header_panel a.full {
  background: url("../images/cart.png") no-repeat left center;
  padding: 10px 0 10px 29px;
}

.header_panel #compare_products {
  background: url("../images/libra.png") no-repeat left center;
  padding: 10px 0 10px 29px;
}

.header_panel a {
  text-decoration: none;
  color: black;
}

.header_panel a img {
  vertical-align: middle;
}

.fixed_width {
  width: 1020px;
}

.sidebar {
  float: left;
  width: 250px;
  text-align: left;
}

.sidebar ul {
  margin: 1em 0.5em;
}

.sidebar ul li {
  text-align: left;
  line-height: 1.8em;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

#sidebar_menu {
  background-color: #e7ebef;
  padding: 1em;
}

ul.sidebar_menu {
  margin: 0;
  list-style: none;
}

ul.sidebar_menu li a {
  color: black;
  text-decoration: none;
}

ul.sidebar_menu li a:hover {
  text-decoration: underline;
  color: #2E6AB1;
}

.content {
  text-align: left;
}

.content h3 {
  margin-top: 1em;
  color: #502559;
}

.cart_table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid black;
}

.cart_table th {
  height: 34px;
  background: url('../images/table_th1_34.png') repeat-x;
  text-align: left;
  padding-left: 20px;
}

.cart_table td {
  padding: 10px 20px;
}

.cart_table .image {
  width: 48px;
  padding: 10px 0 10px 20px;
  vertical-align: middle;
}

.cart_table .count {
  border: 1px solid silver;
  padding: 2px 16px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #eeeeee;
}

.cart_table .cost {
  font-size: 13pt;
  font-weight: bold;
}

.wrapper {
  min-height: 100%;
}

.footer_fake {
  height: 150px;
  clear: both;
}

.footer {
  margin-top: -124px;
  height: 124px;
  clear: both;
  width: 1048px;
  margin-left: auto;
  margin-right: auto;
  background: url("../images/footer_panel.png") center top no-repeat;
}

ul.footer_menu {
  margin-top: 40px;
  float: right;
  margin-right: 4em;
  list-style: none;
}

ul.footer_menu li {
  float: left;
  margin-left: 1em;
}

ul.footer_menu li a {
  color: white;
}

ul.nav-list {
  list-style: none;
  margin: 0.2em 0.5em 3em;
}

ul.nav-list li {
  font-size: 10pt;
  margin: 0.4em 0;
  line-height: 1em;
}

ul.nav-list li.current a {
  font-weight: bold;
}

#taxonomies {
  margin-bottom: 3em;
}

.section_header {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid black;
}

.section_header td {
  vertical-align: bottom;
}

h1 {
  line-height: 0.85em;
  font-size: 16pt;
  margin-bottom: 1em;
  color: #555;
  padding-bottom: 0.5em;
  padding-left: 5px;
  border-bottom: 1px solid gray;
}

h2 {
  line-height: 0.85em;
  font-size: 16pt;
  margin-bottom: 0.4em;
  color: gray;
}

.sidebar h2, div.taxon h2 {
  padding-bottom: 0.5em;
  padding-left: 5px;
  border-bottom: 1px solid gray;
}

div.taxon {
  clear: both;
}

h2 a {
  color: gray;
  text-decoration: none;
}

h2 a:hover {
  color: gray;
  text-decoration: underline;
}

#main-image {
  min-height: 200px !important;
}

#product-images {
  display: block;
  margin-right: 0;
  width: 210px;
}

#product-images h2 {
  color: #502559;
  font-size: 10pt;
  font-weight: bold;
  margin: 1em 0 0.6em;
  clear: both;
}

#product-description {
  display: block;
  width: auto;
  float: none;
  margin-left: 220px;
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

#thumbnails {
  margin-top: 1em;
  width: 360px;
}

#variant-thumbnails li, #product-thumbnails li {
  border: 1px solid silver;
}

#variant-thumbnails li.selected, #product-thumbnails li.selected {
  border: 1px solid gray;
}

#main-image {
  margin-bottom: 1em;
  height: 210px;
  width: 200px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#main-image img {
  position: static !important;
}

#product-description h2 {
  font-size: 10pt;
  font-weight: bold;
  margin: 1em 0 .6em 0;
  color: #502559;
}

#product-properties .even td {
  background: #fdf3e8;
}

#product-properties .property-type {
  width: 250px;
  font-weight: bold;
}

#cart-form {
  float: none;
}

#cart_wrapper {
  text-align: right;
  float: right;
  width: 220px;
}

#product-variants {
  text-align: left;
}

#product-variants .price {
  font-size: 12px;
  white-space: nowrap;
}

#cart-form fieldset {
  text-align: left;
}

#cart-form fieldset legend {
  font-size: 120%;
}

#taxon-crumbs {
  float: none;
}

button, a.button, input.button {
  -moz-outline-radius: 5px;
  border-color: gray !important;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 4px 17px;
}

.tooltip {
  z-index: 100;
  width: 324px;
}

.tooltip_top {
  background: url("../images/bubblepopup_top.png") no-repeat;
  height: 35px;
}

.tooltip_middle {
  background: url("../images/bubblepopup_bg.png") repeat-y;
  padding: 0 18px;
}

.tooltip_bottom {
  background: url("../images/bubblepopup_bottom.png") no-repeat;
  height: 22px;
}

#compare_products.shown {
  border-bottom: 2px solid black;
}

body.two-col #content {
  float: left;
}

#product_description_menu {
  margin-top: 1em;
}

#cart_wrapper .prices {
  text-align: right;
  margin-bottom: .4em;
}

.product-listing {
  margin: 0;
}

.product-listing li {
  background: none;
  border: 1px solid white;
  margin: 0 0 15px 0;
  padding: 2em 0 0 0;
  width: 248px;
  height: 230px;
}

.product-listing li:hover {
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  /*box-shadow: silver 0 0 15px;*/
}

.product-listing .product-image-wrapper {
  margin: 10px 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 130px;
  width: 248px;
}

.product-listing li a.info {
  background: none;
  position: static;
  bottom: auto;
  right: auto;
  width: auto;
  min-height: inherit;
  padding: 0;
  border-top: none;
}

.product-listing li:hover a.info {
  background: none;
}

.product-listing li a.info .price {
  font-size: 16pt;
  font-weight: normal;
  color: black;
}

ul.thumbnails li {
  width: 42px;
  height: 42px;
  margin-right: 4px;
  margin-bottom: 4px;
  min-height: 42px;
  padding: 0;
  float: none;
  display: inline-block;
}

ul.thumbnails li a {
  height: 42px;
  width: 42px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

ul.thumbnails li a img {
  position: static;
}

#large_image_overlay .large_image {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#large_image_overlay .thumbs_gallery {
  text-align: center;
}

#large_image_overlay .thumbs_gallery ul {
  list-style: none;
  display: inline-block;
  margin: .5em 0;
  width: 250px;
}

#large_image_overlay .thumbs_gallery ul li {
  width: 42px;
  height: 42px;
  margin-right: 4px;
  margin-bottom: 4px;
  min-height: 42px;
  padding: 0;
  float: none;
  display: inline-block;
  border: 1px solid silver;
  background: white;
}

#large_image_overlay .thumbs_gallery ul li a {
  height: 42px;
  width: 42px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#large_image_overlay {
  background: white;
}

ul.thumbnails li a {
  height: 42px;
  width: 42px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

ul.thumbnails li a img {
  position: static;
}

#cart_wrapper .prices .price {
  font-size: 18pt !important;
  color: black;
}

.add-to-cart {
  background: #e9ebee;
  color: black;
  font-size: 10pt !important;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: inset 0 -5px 5px #e9ebee;
  text-transform: none;
  margin-top: .4em;
}

.add-to-cart:hover {
  box-shadow: inset 0 -5px 5px white;
}

.similar_product_list {
  list-style: none;
  margin: 0;
  height: 120px;
}

.similar_product_list li {
  float: left;
  width: 250px;
  margin: 0;
  padding: 0;
}

.similar_product_image_container {
  float: left;
  width: 120px;
  height: 120px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
}

.similar_product_image_container img {
  position: static;
}

.similar_product_price {
  font-size: 13pt;
  font-weight: normal;
  color: black;
}

hr.space {
  clear: none;
}

#cart-detail {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#cart-detail th {
  background: url("../images/cart_th_bg.png") repeat-x;
  height: 34px;
  border-bottom: 1px solid silver;
}

#cart-detail th:first-child {
  width: 420px;
}

#subtotal h3 {
  margin: 0 0 1em;
  font-size: 14pt;
  color: black;
  text-align: right;
}

#subtotal .links a {
  width: 140px;
  text-align: center;
}

#subtotal .links img {
  display: none;
}

.pagination {
  clear: both;
}

.product-listing .rating-stars-container {
  height: 15px;
  width: 85px;
}

#reviews div.review {
  border-bottom: 1px solid #ddd;
}

#new_review #review_title {
  width: 200px;
}

#new_review .review_rating_field {
  float: right;
  width: 480px;
}

#new_review .review_review_field {
}

#new_review .review_review_field textarea {
  width: 745px;
}

#new_review .review_submit {
  text-align: right;
}

#new_review label {
  color: #502559;
}

#new_review .star-rating-control {
  margin-top: 0.4em;
}

#new_review .review_title_field {
  margin: 0 0 0.5em
}

#new_review input[type=text], #new_review textarea {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid silver;
}

#new_review label.error {
  display: block;
  color: red;
}

.review_fine_print {
  clear: both;
}

.review .feedback_review {
  display: none;
}

#reviews .review .title {
  font-size: 12px !important;
  font-weight: normal;
}

.review .star-rating-control {
  vertical-align: middle;
}

.review .title {
  margin: 0 2em;
  color: #3d5a75;
}

.review .attribution {
  color: #3d5a75;
  font-weight: normal;
  font-size: 12px !important;
}

.rating-stars-container {
  display: inline-block;
}

.rating-stars-container .star-rating-control {
  margin: 5px 0 0;
}

div.star-rating, div.star-rating a {
  background: url('/images/star.png') no-repeat;
}

div.star-rating-hover a {
  background-position: 0 -16px;
}

.simple_overlay {
  padding: 10px;
  border: 1px solid silver;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: rgba(0, 0, 0, .5) 0 10px 10px;
  z-index: 100;
}

#top_panel {
  height: 4em;
  padding-top: 1em;
}

#top_login_bar {
  text-align: left;
  /*margin-top: 1em;*/
  float: left;
}

ul.header_menu {
  float: right;
  margin-right: 0;
  list-style: none;
}

ul.header_menu li {
  float: left;
  margin-left: 1em;
}

ul.header_menu li a {
  color: black;
  text-decoration: none;
}

ul.header_menu li a:hover {
  text-decoration: underline;
  color: #2E6AB1;
}

#login_overlay {
  background: url("/images/login_bar_bg.png") repeat-x #e5e5e5;
}

#login_overlay input[type=text], #login_overlay input[type=password] {
  border: 1px solid silver;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 2px 6px;
}

#login_overlay label {
  font-weight: normal;
}

.simple_overlay .close {
  background-image: url("/images/close_button.png");
  position: absolute;
  right: -9px;
  top: -9px;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.login_social_bar {
  width: 220px;
  height: 100px;
  float: right;
  padding: 0 14px;
  border-bottom: 1px solid silver;
}

.login_link_bar {
  width: 220px;
  float: right;
  clear: right;
  padding: 10px 14px;
}

.login_form_bar {
  margin-right: 250px;
  padding: 6px 16px 2px 6px;
  border-right: 1px solid silver;
}

.login_form_bar input#user_remember_me {
  vertical-align: middle;
}

.login_form_bar input[type=submit] {
  font-weight: normal;
}

#applying_coupon h3 {
  margin-top: 0;
}

#cart-detail th, #cart-detail td {
  padding-top: 0;
  padding-bottom: 0;
}

#order_details th, order_details td {
  padding-top: 0;
  padding-bottom: 0;
}

div#checkout #checkout_form_address #shipping .select_address input {
  width: auto;
}

#product-variants-container {
  clear: both;
}

.header_panel #keywords_submit:hover {
  background-position: 0 -24px;
}

div#checkout #checkout_form_address { background-image: none; }
div#checkout #checkout_form_delivery { background-image: none; }
div#checkout #checkout_form_payment { background-image: none; }

div#checkout #checkout-summary {
  background-color: inherit;
  padding: 0;
  width: 300px;
  border: 1px solid #aaa;
  padding: 10px 0 0 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div#checkout h3 {
  margin-top: 0;
}

div#checkout #checkout_form_address .form-buttons {
  padding-left: 0;
}

div#checkout .form-buttons input {
  width: 140px;
  text-transform: none;
}

button.primary, a.button.primary, input.button.primary {
  font-weight: normal;
}

div#checkout #checkout_form_payment #payment {
  display: block;
  float: none;
}

#payment .description {
  padding: .4em;
}

h4#variant-images {
  display: none;
}

.description-content {
  margin-right: 220px;
}

#cart-detail #line_items td:first-child {
  width: 130px;
  vertical-align: middle;
  text-align: center;
  padding: 3px;
}

#cart-detail #line_items tr {
  border-bottom: 1px solid #eee;
}

#order_details {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#order_details th {
  background: url("../images/cart_th_bg.png") repeat-x;
  height: 34px;
  border-bottom: 1px solid silver;
}

div.rating-cancel {
  display: none !important;
}

#page_content {
  padding-left: 5px;
}

/* jGrowl */

div#jGrowl.top-right {
  top: 120px;
}

div#jGrowl {
  padding-right: 0;
}

div#jGrowl div.jGrowl-header {
  font-size: 10pt;
}

div#jGrowl div.jGrowl-notification, div#jGrowl div.jGrowl-closer {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;

  opacity: 0.7;
  background: #502559;
}

div#jGrowl div.jGrowl-notification.error {
  background: #a50000;
}
