<% if current_user %>
  Добро пожаловать, <%= link_to current_user.email, account_path %>!
  <%= link_to t('logout'), destroy_user_session_path, {:id => 'log_out_link'} %>
<% else %>
  Добро пожаловать, <%= link_to t('log_in'), login_path, {:id => 'log_in_link', :rel => '#login_overlay'} %>.
  <div class="simple_overlay" id="login_overlay" style="display: none">
    <%= render :partial => "shared/login" %>
  </div>
<% end %>