<% content_for :head do %>
  <%= stylesheet_link_tag 'reviews.css' %>
<% end %>
<% stars = product.get_stars %>
<div title="<%# txt_stars(stars[0]) %>" class="rating-stars-container">
  <%= render :partial => "reviews/stars", :locals => {:stars => stars[0]} %>
</div>

