<% content_for :sidebar do %>
  <%= render "shared/taxonomies" %>
<% end %>

<% @taxons.each do |taxon| %>
  <div class="taxon_preview">
    <h2><%= taxon.name %></h2>

    <%= render :partial => "shared/products", :locals => {:products => taxon_preview(taxon, 6), :taxon => taxon} %>
  </div>
<% end %>
